<!--The content below is only a placeholder and can be replaced.-->
<div>
<div class=" bg card" style="text-align:center">
  
  
  
  <img class="logo-icon" src="./../assets/images/sunny.svg">
  <h2>Funy Weather </h2>
  <p>Please, write the name of your city to know the weather</p>

 <app-weather></app-weather>
  
  
  <div>Icons made by
    <a href="https://www.flaticon.com/authors/iconnice" title="Iconnice">Iconnice</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
      target="_blank">CC 3.0 BY</a>
  </div>
</div>
</div>
